<!doctype html>
<html>
<head>
  <title>knwst - Holdings</title>
  <style>
    td {
      padding: 0.3em;
    }
    .ar {
      text-align: right;
    }
    .bold {
      font-weight: bold;
    }
  </style>
</head>
<body>
  <h1>knwst - Holdings</h1>
  <p><a href="/">Home</a><% if (req.query.taxlots === undefined) { %> - <a href="/holdings?taxlots">Tax Lots</a><% } %></p>
  <table>
  <%
    const result = await db.query(
      req.query.taxlots === undefined ?
        "select brokerage, ticker, lot_id as id, shorted, min(open_date) as open_date, sum(amount) as amount, sum(basis) as basis, sum(cur_value) as cur_value from out_holdings group by brokerage, ticker, shorted order by brokerage asc, ticker desc" :
        "select brokerage, ticker, lot_id as id, shorted, open_date, amount, basis, cur_value from out_holdings order by brokerage asc, ticker desc, open_date asc"
      );

    const brokerages = Object.fromEntries((await db.query("select brokerage, out_cash from brokerages")).map(({brokerage, out_cash}) => [brokerage, out_cash]));

    let total = 0;
    let grandtotal = 0;
    let last_brokerage = null;

    function last() {
      const amount = brokerages[last_brokerage];
      total += +amount;
      grandtotal += +amount;
      %>
      <tr><td colspan="4">== cash ==</td><td class="ar"><%= (+amount).toLocaleString("en-US", {style: "currency", currency: "USD"}) %></td><td></td></tr>
      <tr><td colspan="5" class="ar bold">Total Value: <%= total.toLocaleString("en-US", {style: "currency", currency: "USD"}) %></td><td></td></tr><%
    }

    for (const {brokerage,ttype,ticker,id,shorted,open_date,amount,basis,cur_value} of result) {
      if (last_brokerage !== brokerage) {
        // new brokerage - this is so janky lol
        if (last_brokerage !== null) {
          last();
        }
        %>
          <tr><td colspan="8" class="bold" style="font-size: 1.5em;border-top: 1px solid black;"><%= brokerage %></td></tr>
          <tr class="bold">
            <td>ticker</td>
            <td>open_date</td>
            <td>amount</td>
            <td>basis</td>
            <td>cur_value</td>
            <td>gains</td>
          </tr>
        <%
        last_brokerage = brokerage;
        total = 0;
      }
      total += +cur_value;
      grandtotal += +cur_value;
      %>
        <tr>
          <td><%= ticker + (shorted ? " (short)" : "") %></td>
          <td><%= open_date ? open_date.toISOString().split("T")[0] : "" %></td>
          <td class="ar"><%= (+amount).toLocaleString() %></td>
          <td class="ar"><%= basis ? (+basis).toLocaleString("en-US", {style: "currency", currency: "USD"}) : "" %></td>
          <td class="ar"><%= cur_value ? (+cur_value).toLocaleString("en-US", {style: "currency", currency: "USD"}) : "" %></td>
          <td class="ar"><%= (cur_value && basis) ? (cur_value-basis).toLocaleString("en-US", {style: "currency", currency: "USD"}) : "" %></td>
        </tr>
      <%
    }
    last();
  %>
    <tr><td colspan="8" class="ar bold" style="border-top: 1px solid black;">Grand Total Value: <%= grandtotal.toLocaleString("en-US", {style: "currency", currency: "USD"}) %></td></tr>
</body>
</html>
